node_modules
dist
.env
.env.local
src-tauri/target
src-tauri/gen
.muestra.mjs
instaladores
public/*.pdf
tsconfig.tsbuildinfo
.modulador.mjs
.orinales.mjs
.probar.mjs
.orinlay.mjs
.mamp.mjs
.odoo.mjs
.bom.mjs
.claude
.especiales.ts
.libre.mjs
.extras.mjs
.verext.mjs
.numero.mjs
.frente.mjs
.pmr.mjs
.c693.mjs
.inv.mjs
.p60.mjs
.invpmr.mjs
.iva.mjs
